*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

#header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
#logo-link{
    text-decoration: none;
    color: orangered;
    font-size: 2rem;
    font-weight: 500;
}
.nav-list{
    color: rgb(39, 38, 38);
    font-size: 1.3rem;
    list-style-type: none;
    margin-right: 20px;
    
}
.link{
    color: green;
    text-decoration: none;

}
.nav-items{
    display: flex;
}
.nav-logo{
    list-style-type: none;
    margin-right: 100px;
    margin-top: -10px;
    
}
#nav-bar{
    width: 50%;
}
#search-bar{
    width: 20%;
    display: flex;

    
}
#user{
    width: 8%;
    height: fit-content;
  position: relative;
  right: 0px;
  display: flex;
  justify-content: space-between;
  
}
#avatar{
    border-radius: 10px;
}
#user-name{
    position: relative;
    top: 10px;
}
#arrow-down{
    position: relative;
    top: 15px;
}
#bookmark{
    margin-right: 0px;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(240, 237, 237);
    border-radius: 50%;
}
#search-bar{
    width: 450px;
    height: 40px;
    background-color: rgb(240, 237, 237);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding-left: 10px;
}
.arr-up{
    margin-top: 10px;
    color: blue;
}
#menu{
    position: relative;
    top: 5px;
}
#dots{
    position: relative;
    top: 5px;
   font-size: 2rem;
   color: rgb(39, 39, 39);
}
#search-icon{
    position: relative;
    top: 5px;
   font-size: 2.5rem;
   color: rgb(39, 39, 39);
   padding-right: 15px;
}